/* src/App.css */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.card {
  position: relative;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  transition: background 0.3s;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  background: #0DA5E9;
}

.card .top {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
}

.card .bottom {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}

.card .details {
  font-size: 20px;
  text-transform: uppercase;
  align-self: flex-end;
}

.about {
  background-color: #01A1E8;
}

.last {
  margin-left: 15px;
  background-color: #000;
  color: #01A1E8;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  line-height: 1.7;
  font-size: 15px;
}

@media (max-width: 600px) {
  .last {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1.5rem;
  }
}

.logo,
.nav {
  margin-top: 15px;
  font-size: 18px;
}

.exhi-info {
  color: #01A1E8
}