/* src/Detail.css */

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 수평 가운데 정렬 */
  /* justify-content: center; */
  /* 수직 가운데 정렬 (필요 시) */
  min-height: 100vh;
  /* 화면 세로 기준 정렬 시 */
  background-color: #000;
  color: #01A1E8;
  margin-top: 30px;
  padding: 0.5rem;
  font-family: 'damso', sans-serif;
  text-align: left;
  /* 텍스트도 가운데 */
}

.detail-des {
  margin-top: 50px;
  width: 60vw;
  line-height: 2;
  font-size: 16px;
}

.detail-tit {
  font-size: 50px;
}

.detail-role {
  margin-top: 10px;
}

.detail img {
  max-width: 100%;
  margin-top: 20px;
  /* border-radius: 8px; */
}

.detail-auth {
  margin-top: 150px
}

.detail-aut-des {
  margin-top: 20px;
  font-size: 14px;
  width: 60vw;
}

.back {
  display: inline-block;
  margin-top: 20rem;
  margin-bottom: 10rem;
  color: #01A1E8;
  text-decoration: none;
  font-weight: bold;
}

.back2 {
  display: inline-block;
  margin-top: 7rem;
  margin-bottom: 10rem;
  color: #01A1E8;
  text-decoration: none;
  font-weight: bold;
}

.back:hover {
  text-decoration: underline;
}

.exhi-des {
  margin-top: 50px;
  line-height: 2;
  width: 60vw;
  word-break: keep-all;
}

@media (max-width: 600px) {
  .last {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1.5rem;
  }

  .exhi-des,
  .detail-des {
    width: 80vw;
  }
}